<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <h2>パーソナル一覧</h2>
        <table class="table table-hover table-sm">
        <% @personals.each do |personal| %>
          <tr>
            <td><%= link_to personal.name + "　(#{Review.joins(user: :personal_users).where(user: { personal_users: { personal: personal } }).count})", personal_path(personal) %></td>
          </tr>
          <% end %>
        </table>
    <div class="col-md-2"></div>
  </div>
</div>