<h2>フォロー</h2>
 <table class="table table-borderless table-hover table-sm" style="width:50%">
  <% @users.each do |user| %>
    <tr>
      <td class="pl-4 align-middle" style="width:70%"><%= link_to user.name, user_path(user.id) %></td>
      <td style="width:30%">
        <% if user_signed_in? && user != current_user %>
          <%= render "follow_form", user: user %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
