<div class="container-fluid">
  <div class="row">
    <div class="col no-gutters　mv">
      <img src="images/mv.jpg" class="img-fluid">
      なぜ！画像が！表示されないんだっ！
      バックグラウンドに関しては存在さえ認識しないぞっ！
    </div>
  </div>
</div>

<div class="container">
  <div class="row　mx-auto">
    グリットシステムで画像一覧入れる
  </div>
</div>
