<!-- 一旦保留　もしかしたらuserのviewかも -->
<div class="container">
  <div class="row">
    <h1>パーソナル登録</h1>

  <%= collection_check_boxes(:personal, :name, Category.all, :id, :name ) do |t| %>
  <%= t.label { t.check_box + t.text } %>
  <% end %>
  </div>
</div>