<div class="container">
  <div class="row">
    <div class="col-1"></div>
      <div class="col-10">
        <h1>パーソナル一覧</h1>
        <% @personals.each do |personal| %>
        <table class="table table-striped table-hover table-sm">
          <tr>
            <th style="width:70%"><%= personal.name %></th>
            <th style="width:30%"><%= "(#{Review.joins(user: :personal_users).where(user: { personal_users: { personal: personal } }).count})" %></th>
          </tr>
        </table>
        <% end %>
      </div>
    <div class="col-1"></div>
  </div>
</div>