.n-circle {
  position: absolute;
  padding-left: 2rem;
  padding-top: 0rem;
  color: #efa04c;
  font-size: 10px;
}

.border-bottom {
  padding: 5px 0;
}

.border-bottom p {
  margin-left: 45px;
  margin-bottom: 5px;
}