
.form-check-label:nth-child(2) {
  width: 50%;
}

.form-check-label:nth-child(3) {
  width: 50%;
}

.form-check-label:nth-child(4) {
  width: 50%;
}

.form-check-label:nth-child(5) {
  width: 50%;
}

.form-check-label:nth-child(6) {
  width: 50%;
}

.form-check-label:nth-child(7) {
  width: 50%;
}

.form-check-label:nth-child(8) {
  width: 33%;
}

.form-check-label:nth-child(9) {
  width: 33%;
}

.form-check-label:nth-child(10) {
  width: 33%;
}