// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-header  .dropdown {
  float: right;
}

// ログイン画面

.login {
  position: relative;
  height: 560px;
  width: 405px;
  margin: 30px auto;
  padding: 60px 60px;
  background: image-url('login.jpg') no-repeat #505050;
  background-size: cover;
  box-shadow: 0px 30px 30px -5px #503844;
}

.login .active {
  border-bottom: 2px solid #FB6376;
}

.login h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
  margin-left: 20px;
}

.login h2:first-child {
  padding-left: 0px;
}

.login span {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20px;
}

.login .text {
  border: none;
  width: 89%;
  padding: 15px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.login .text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.login .text:focus + span {
  opacity: 0.6;
}

.login input[type="text"],
.login input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.login input {
  display: inline-block;
  font-size: 14px;
}

.custom-checkbox {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

.custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
  content: '\2714';
  color: #fff;
}

.custom-checkbox:focus {
  outline: none;
}

.login label {
  padding-top: 10px;
  padding-left: 5px;
}

.loginActions {
  background-color: #E0479E;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.loginActions:hover {
  background: #EACFDF;
  box-shadow: 0px 4px 20px -5px #E0479E;
  cursor: pointer;
}

.loginActions:focus {
  outline: none;
}

//TL

.tl-image {
  object-fit: cover;
}

// 新規登録画面

.sinin {
  position: relative;
  min-height: 560px;
  width: 405px;
  margin: 30px auto;
  padding: 60px 60px;
  background: image-url('login.jpg') no-repeat #505050;
  background-size: cover;
  box-shadow: 0px 30px 30px -5px #503844;
}

.sinin .active {
  border-bottom: 2px solid #FB6376;
}

.sinin h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
  margin-left: 20px;
}

.sinin h2:first-child {
  padding-left: 0px;
}

.sinin span {
  text-transform: uppercase;
  display: inline-block;
  margin-left: 20px;
}

.sinin .text {
  border: none;
  width: 89%;
  padding: 15px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.sinin .text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.sinin .text:focus + span {
  opacity: 0.6;
}

.sinin input[type="text"],
.sinin input[type="password"] {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.sinin input {
  display: inline-block;
  font-size: 14px;
}

.custom-checkbox {
  -webkit-appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-left: 20px;
}

.custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
  content: '\2714';
  color: #fff;
}

.custom-checkbox:focus {
  outline: none;
}

.sinin label {
  padding-top: 10px;
  padding-left: 5px;
}

.sininActions {
  background-color: #E0479E;
  color: #FFF;
  width: 100%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}

.sininActions:hover {
  background: #EACFDF;
  box-shadow: 0px 4px 20px -5px #E0479E;
  cursor: pointer;
}

.sininActions:focus {
  outline: none;
}


@media (max-width: 575.98px) {

  // TL
  .tl-image{
    height: 25%;
    width: 100%;
  }

	.card-body {
		display: none;
	}

	//マイページ
	.mypage {
	  margin: none;
	}

	.mypage-edit {
	  margin-bottom: 5px;
	}

	.mypage-review {
  width: 30%;
	}

	.mypage-review-img {
	  width : 100%;
	  height: auto;
	}

	.mypage-review-star {
	  display: none;
	}

	.mypage-review-header {
	  display: none;
	}
}

.hover .hover-text {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.65);
  opacity: 0;
  transition: .3s ease-in-out;
}

.hover:hover .hover-text {
  opacity: 1;
}
