<h1>Reviews#show</h1>

<%= @user.name %>

<% @review_tags.each do |tag| %>
  <span>
    <%= tag.tag_name %>
  </span>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td class="review-rate" data-score="<%= @review.rate %>"></td>
      </tr>
  </tbody>
</table>
<% end %>
<script>
  $('.review-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
